.our_cases{
  .our_cases_title{
    text-align: center;
  }
  img{
    max-width: 370px;
    max-height: 370px;
    width: 100%;
    box-shadow: 0 4px 25px rgba(21, 19, 19, 0.3);
  }
  .our_cases_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}