.website_dev {
  padding: 90px 150px;
  h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  ul {
    list-style: none;
    li {
      font-size: 30px;
      font-weight: 500;
    }
    li:before{
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      border-radius:50%;
      background-color:#FD0037;
      margin-right:20px;
    }
  }
  .first{
    padding: 0 0 0 50px;
  }
  .second{
    padding: 0 50px 0 0;
  }
}