@media (max-width: 768px) {
  .customer_comment{
    .last_item{
      display: none;
    }
    .comment_item:not(:last-child) {
      margin: 0;
    }
    .comment_item.first_item{
      margin: 0 30px 0 0;
    }
    .prev_slide {
      display: none;
    }

    .next_slide {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .carousel-item .comment_item.first_item{
    margin: 0 0 50px 0;
  }
}