.rightNow{
    padding: 90px 0;
    background-color: #23252A;
    margin: 0 0 100px 0;
    .dataInputs{
        padding: 20px 0 20px 30px;
        border-radius: 5px;
        width: 100%;
        outline: none;
      }
      .btn-custom{
        width: 100%;
        padding: 20px 0;
      }
}