body{
    font-family: 'Roboto', sans-serif;
    h1{
        font-weight: 900;
        font-size: 70px;
        color: white;
    }
    a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
    .btn-custom{
        font-weight: 900px;
        color: white;
        background-color: #FD0037;
    }
    .text{
        font-size: 16px;
    }
}