@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-weight: 900;
  font-size: 70px;
  color: white;
}
body h2 {
  font-size: 38px;
}
body a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body .btn-custom {
  font-weight: 900;
  color: white;
  background-color: #FD0037;
}
body .text {
  font-size: 16px;
}

@media (max-width: 992px) {
  body h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  body h1 {
    font-size: 35px;
  }
  body h2 {
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  body h1 {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  body h2 {
    font-size: 11px;
  }
}
header {
  background-color: #23252A;
  border-bottom: #6A6A6A solid 1px;
  color: white;
}
header .borderLogo {
  padding: 0 15px;
  border: solid 2px white;
  margin-right: 60px;
}
header .btn-custom {
  font-size: 13px;
  padding: 10px 15px;
}
header .social:not(:first-child) {
  margin-left: 15px;
}
header .nav-link {
  color: white;
}

.createSite {
  background-color: #23252A;
  text-align: center;
  padding: 90px;
  color: white;
}
.createSite h1 {
  margin-bottom: 30px;
}
.createSite .text {
  margin-bottom: 30px;
}
.createSite .rightNow {
  font-size: 30px;
  margin-bottom: 50px;
}
.createSite .dataInputs {
  padding: 20px 30px;
  border-radius: 5px;
}
.createSite .btn-custom {
  width: 100%;
  padding: 20px 0;
}
.createSite .check {
  width: 20px !important;
  height: 20px !important;
}
.createSite .check:checked {
  background-color: #FD0037;
}
.createSite label {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .createSite .dataInputs {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .createSite .rightNow {
    font-size: 25px;
  }
}
@media (max-width: 578px) {
  .createSite .text {
    font-size: 14px;
  }
  .createSite .rightNow {
    font-size: 20px;
  }
}
.why_us {
  padding: 100px 0;
}
.why_us .why_us_title {
  font-size: 38px;
}
.why_us span {
  color: #151313;
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
}
.why_us .number {
  color: #FD0037;
  font-size: 70px;
  font-weight: 900;
  padding: 0 0 30px 0;
}
.why_us div.shadows {
  margin-bottom: 30px;
  margin-right: 30px;
}
.why_us .shadows, .why_us .sec_shadows {
  box-shadow: 0 4px 20px rgba(35, 37, 42, 0.5);
  border-radius: 10px;
  margin: 0 30px 0 0;
  max-width: 270px;
}
.why_us .shadows:hover, .why_us .sec_shadows:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.why_us .span_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 34px;
  padding: 55px 0 50px 0;
  flex-direction: column;
}

@media (max-width: 768px) {
  .why_us .number {
    font-size: 50px;
    padding: 0 0 25px 0;
  }
  .why_us span {
    font-size: 20px;
    line-height: 27px;
  }
  .why_us .span_wrapper {
    padding: 30px 0 30px 0;
  }
}
@media (max-width: 320px) {
  .why_us div.shadows {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .why_us .number {
    font-size: 40px;
    padding: 0 0 15px 0;
  }
  .why_us span {
    font-size: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
