@media (max-width:992px){
    body{
        h1{
            font-size: 60px;
        }
    }
}
@media (max-width:768px){
    body{
        h1{
            font-size: 35px;
        }
        h2{
            font-size: 30px;
        }
        .container{
            max-width: 748px;
        }
    }
}
@media (max-width:576px){
    body{
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 27px;
        }
    }
}


