

body{
    font-family: 'Roboto', sans-serif;

    h1{
        font-weight: 900;
        font-size: 70px;
        color: white;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
    a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
    .btn-custom{
        font-weight: 900;
        color: white;
        background-color: #FD0037;
    }
    .btn-custom:hover{
        transition: 700ms;
        color: #FD0037;
        background-color:white;
    }
    .text{
        font-size: 16px;
    }
}