.our_work{
  position: relative;
  margin: 0 0 100px 0;
  img{
    max-width: 370px;
    max-height: 263px;
    width: 100%;
  }
  .slide_indicator [data-bs-target] {
    border-radius: 15px;
    border: 2px solid transparent;
    width: 15px;
    height: 15px;
    background-color: #6C6C6C;
  }
  .slide_indicator [data-bs-target]:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .slide_indicator{
    bottom: -15px;
  }
  .arrow_prev {
    background-image: url("../img/slide_arrow.svg");
  }

  .arrow_next {
    background-image: url("../img/slide_arrow.svg");
    transform: rotate(180deg);
  }

  .prev_slide {
    left: -1%;
    position: absolute;
  }

  .next_slide {
    left: 86%;
  }
}



@media (max-width: 768px) {
  .our_work{
    .last_item{
      display: none;
    }
    .first_item{
      margin: 0 30px 0 0;
    }
    .prev_slide {
      display: none;
    }

    .next_slide {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .first_item{
    margin: 0;
    width: 100%;
  }
  .sec_item{
    display: none;
  }
}
