.footer{
  padding: 0 0 20px 0;
  &::after{
    content: '';
    display: block;
    height: 1px;
    background: #6A6A6A80;
  }
  p{
    color: #6C6C6C;
    font-size: 13px;
  }
  a{
    color: #6C6C6C;
    font-size: 13px;
  }
  h3{
    margin: 0 0 15px 0;
  }
  .footer_wrapper{

  }
  .services_title{
    text-align: center;
    margin: 0 60px 15px 0;
  }
  .instagram,.facebook,.vkontakte{
    display: flex;
    align-items: flex-start;
  }
  img{
    margin: 0 5px 0 0;
    &:hover{
      transform: scale(1.1);
    }
  }
  .services_item{
    display: flex;
    justify-content: space-between;
  }
  .about_company{
    margin: 0 45px 0 0;
  }
  .advertising{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 15px ;
    padding: 0 13px;
  }
  .contact p{
    margin: 14px 0;
  }
  .services_wrp{
    padding-right: 0;
  }
  .contact_wrp{
    padding: 0 0 0 50px;
  }
}
.sec_footer{
  .sec_footer_wrp{
    display: flex;
    flex-direction: column;
    color: #6C6C6C;
    font-size: 13px;
  }
}