.why_us{
  padding: 100px 0;
  .why_us_title{
    font-size: 38px;
  }
  span{
    color: #151313;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
  }
  h2{
    text-align: center;
  }
.number{
  color: #FD0037;
  font-size: 70px;
  font-weight: 900;
  padding: 0 0 30px 0;
  }
  .indent{
  padding: 30px;
  }

  .shadows,.sec_shadows{
    box-shadow: 0 4px 20px rgba(35, 37, 42, 0.5);
    border-radius: 10px;
 
    max-width: 270px;
    width: 100%;
    height: 100%;
    &:hover{
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
  .span_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 34px;
    padding: 55px 0 50px ;
    flex-direction: column;
  }
}